header {
    align-items: center;
}

.mobile-none {
    display: none;
}

#navi-menu {
    font-size: 1.25em;
}

#navi-menu span {
    display: none;
}

#intro {
    height: auto;
    flex-direction: column;
    margin-top: 2.5em;
    padding: 1em;
}

#intro-text p {
    font-size: 1.1em;
    margin-bottom: -1em;
}

#intro-text h1 {
    line-height: 1.25em;
}

#intro-text ul {
    font-size: 1em;
    margin-left: -1.8em;
    margin-top: -1em;
}

#intro-text li {
    font-size: 0.9em;
    margin-top: 0.5em;
}

#intro-text li :nth-child(3) {
    color: #fff;
}

#intro-text img {
    max-width: 10em;
}

.download {
    display: flex;
    margin-right: -4.5em;
    align-items: center;
}

.download a {
    margin-top: -3.5em;
}

#industry {
    margin-top: 3em;
}

#industry-icons {
    display: none;
}



#industry-text h3 {
    font-size: 1.4em;
}

#testimonial h4 {
    font-size: 1.2em;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

.desktop-only {
    display: none;
}


/* NO MODAL */

.overlay {
    display: none;
}

/* END NO MODAL */
