.mobile-none {
    display: none;
}

.desktop-only {
    display: none;
}

header {
    align-items: flex-start;
}

#navi-menu {
    font-size: 1em;
}

#navi-menu span {
    display: none;
}

#intro {
    height: auto;
    flex-direction: column;
    margin-top: 2.5em;
    padding: 1em;
}

#intro-text p {
    font-size: 1em;
    margin-bottom: -1.5em;
}

#intro-text h1 {
    line-height: 1.25em;
    margin-bottom: 2em;
}

#industry {
    margin-top: 3em;
}

#industry-icons {
    display: none;
}

#industry-text h3 {
    margin-top: -1em;
}

#industry-text h3 {
    font-size: 1.4em;
    margin-top: -1em;
}

#testimonial h4 {
    font-size: 1.2em;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

/* NO MODAL */

.overlay {
    display: none;
}

/* END NO MODAL */
